<html>

<head>
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>

<body class="override-body">
    <div style="margin-top: 10%" class="container">
        <div class="content-login">
            <div class="banner">
                <i style="font-size: 130pt" class="fas fa-ban"></i>
                <br><br>
                <h1>403</h1>
                <span>Access Denied</span><br><br>
               <a style='color: #be4035' href="{{ url_for('index')}}">Back home</a>
            </div>

        </div>
    </div>
</body>

</html>
