{% extends "base.html" %}
<div class="content">
    {% block content %}

    <h2 id='header1'>{{anime.title}}</h2>
    <form action="#" method="post">
        <input required="required" name="title" value="{{anime.title}}">
        <textarea required="required" name="desc">{{anime.description}}</textarea>
        <select name="catg">
                {% for category in categories %}
                    {% if category.id == anime.catg_id%}
                    <option value="{{category.id}}" {{selected}}> {{category.name}}</option>
                    {% endif %}
                    {%else%}
                    <option value="{{category.id}}"> {{category.name}}</option>
                {% endfor %}
                </select>
        <button type="submit">Edit</button>
    </form>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="successMsg">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %} {%endblock%}

</div>
